<div class="max-value">{{this.max}}</div>

{{#if @clicked}}
  <button class="foo-button" type="button" {{on "click" (fn @clicked "Bob!")}}>
    Click Me!
  </button>
{{/if}}

<button class="max-button" type="button" {{on "click" (fn this._getMax 20)}}>
  Click Me!
</button>